.section1{
    width: 99.9%;
    /* border: 1px solid black; */
    height: 652px;
    background-color: #fafafa;
    justify-content: center
}
.map{
    
    font-size:2.5rem ;
    justify-content: center;
}
.good{
    /* margin-left:300px ; */
   align-items: center;
    

}
.look{
    display: flex;
    gap: 130px;
    justify-content: center;
    line-height: 9rem;
}
.scan{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 7rem;
}
.ign{
    transition: transform 5s ease-in-out, opacity 7s ease-in-out
}
.ign:hover{
    transform: scale(1.5) ; 
      opacity: 0.8;
}
@media(max-width:765px){
    .section1{
        width: 90%;
        /* height: 70%; */
    }
     .map{
        font-size: 26px;
    }
    .look{
        gap: 50px;
    }
    .ign{
        width: 70px;
    }
    .scan{
        gap: 50px;
    } 
}