.section6{
    width: 99.9%;
    /* border: 1px solid black; */
    height: 679px;
    justify-content: center;
    min-width: 40rem;
}
.work{
    font-size: 44px;
    justify-content: center;
}
.win{
    justify-content: center;
}
.name{
    display: flex;
    gap: 10px;
    justify-content: center;
    line-height: 50px;
    margin-top: 40px;
}
.section5-style{
    margin: 3rem;
    line-height: 70rem;
    /* width: 99.9%; */
    /* height: 778px; */
    /* border: 1px solid black; */
}
.oll{
    line-height: 30px;
}
.goodluck{
    padding: 1rem;

}
.omg{
    justify-content: center;
    display: flex;
}
.mega{
    display: flex;
    justify-content: center;
}
@media(max-width:765px){
    .name{
        /* flex-direction: column; */
        /* overflow: scroll; */
        /* overflow-x: hidden; */
        /* max-width: 50%; */
        gap: 50px;

    }
    .section6{
        width: 80%;
    }
    .fig{
        width: 150px;
    }
    .section6{
        width: 90%;
        /* border: 1px solid; */
        height: 523px;
    }

}